<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Amazing & never seen before TODO app</mat-card-title>
    <mat-card-subtitle>Organising your day has never been easier!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-form">
      <mat-form-field>
        <input matInput placeholder="New todo item" value="Go to bed early" #inputElement>
      </mat-form-field>
      <button mat-button color="primary" (click)="addTodo(inputElement)">Add</button>
    </div>

    <mat-list>
      <h3 mat-subheader>My day</h3>
      <mat-list-item *ngFor="let item of todos | async">
        <mat-checkbox [checked]="item.completed" (change)="complete(item)">{{item.value}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
